@import "../sass/_reset.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
    background: #222;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    nav{
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        .logo{
            float: left;
            width: 40px;
                display: flex;
                flex-direction: column;
            span {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 999px;
                    background-color: #fff;
            
                    &:nth-child(1) {
                        align-self: flex-end;
                    }
            
                    &:nth-child(2) {
                        align-self: flex-start;
                    }
            
                    &:nth-child(3) {
                        align-self: flex-end;
                    }
                }
        }
        ul{
            list-style: none;
            flex-basis: 30%;
            display: flex;
            justify-content: space-around;
            gap: 40px;
            margin: auto;
            li{
                display: inline-block;
                a{
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    transition-property: background,color;
                    transition-duration: 350ms;
                    transition-timing-function: ease-in-out;
                    position: relative;
                    font-weight: 700;
                    font-size: 0.85em;
                    padding-inline: 2px;
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -7px;
                        width: 100%;
                        height: 2px;
                        background: #88c;
                        transition-property: transform;
                        transition-duration: 350ms;
                        transition-timing-function: ease-in-out;
                        transform: scaleX(0);
                        transform-origin: right;
                    }
                    &:hover{
                        color: #88c;
                        &:after{
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                    
                }
            }
        }
    }
    .loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        display: none;
        align-items: center;
        justify-content: center;
        transition: transform 1s ease-out;
        

        div {
            width: 100px;
            display: flex;
            flex-direction: column;
            animation: loader 1s infinite;
            @keyframes loader{
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }
            }
            span {
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 999px;
                background-color: #fff;
                &:nth-child(1) {
                 align-self: flex-end;
                }
                &:nth-child(2) {
                 align-self: flex-start;
                }
                &:nth-child(3) {
                 align-self: flex-end;
                }
            }
        }
    }
}